<div class="center jumbotron">
  <h1>Welcome to Knowledge Transfer App</h1>

  <h4>
    This is the home page for the
  </h4>
  <%= link_to "Sign up now!", user_session_path, class: "btn btn-lg btn-primary" %>
</div>
