<div class="page-header"><h1>Posted Books</h1>
<div class="container">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col">
           <div class="col-md-4">
                <%= link_to image_tag(book.image.url, class: "img-responsive")%>
                Title: <%= book.title %></br>
                Author: <%= book.author%></br>
                <a href="/chart/view/<%=book.id%>">Show details</a>
          </div>
        </div>
     <%end%>
  </div>
</div>
