<div class="container">
    <div class="row">
          <%@books.each_slice(3) do |books|%>
          <div class="col">
          <% books.each do |book| %>
          <div class="col-md-4">
          <%= link_to image_tag(book.image.url, class: "img-responsive")%>
          Title: <%= book.title %></br>
          Author: <%= book.author%></br>
          <a href="/chart/view/<%=book.id%>">Show details</a>
          </div>
          <% end %>
        </div>
        <%end%>
    </div>
</div>
