<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Donate",  books_new_path %></li>
            <li><%= link_to "Volunteer",   '#' %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
          </ul>
        </nav>
      </div>
    </header>
