<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Donate",  books_new_path %></li>
            <li><%= link_to "Volunteer",   '#' %></li>
            <li><%= link_to "Search", '#' %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </nav>
      </div>
    </header>
